@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a todo application</p>
    <p>Click here to todo application <a href="/Home/List">create</a>.</p>
</div>
